.main {
    width: 60%;
    min-height: 100px;
    margin: auto;
    padding: 10% 0;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 5px 5px 2px #ccc;

}

.counter {
    margin: 0 15px;
    font-size: 42px;
    font-weight: 600;
    text-shadow: 2px 2px 5px;

}